<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--为了保证在移动端能够正常的显示-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/publish.css">
    <title>麦子社区</title>
    <style>
        .row-left{
            border-right: 1px solid #ccc;
            box-sizing: border-box;
        }
        .row-left,.row-right{
            background-color: #fff;
        }
        .row{
            padding: 30px;
            box-sizing: border-box;
        }
        form .saveBtn{
            padding: 10px 10px 10px 0;
            box-sizing: border-box;
        }
        .saveBtn>button{
            float: right;
        }
    </style>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">麦子社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">发现 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">分享</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">活动</a>
            </li>
        </ul>
        <ul class="navbar-nav pr-5">
            <li class="nav-item" th:if="${session.user} == null">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=56aa7b1c26515ccfd305&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
            </li>
            <li class="nav-item" th:if="${session.user} != null">
                <a class="nav-link" href="/">主页</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.user} != null">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:if="${session.user.name} != null">
                        <font th:text="${session.user.name}"></font>
                    </span>
                    <span th:if="${session.user.name} == null">
                        <font>匿名用户</font>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--发布-->
<!--发布-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-lg-12 row-left">
            <div>
                <h2>发起</h2>
                <hr>
            </div>
            <form action="/publish" method="post">
                <div class="clearfix">
                    <p style="margin-bottom: 10px;">问题标题(简单扼要):</p>
                    <div style="width: 70%;float: left;margin-bottom: 10px;">
                        <input type="text" th:value="${title}" class="form-control" name="title">
                    </div>
                    <div style="width: 30%;float: right;">
                    </div>
                </div>
                <div>
                    <p>问题补充(必填。请参考右侧)</p>
                    <textarea style="width: 100%;height: 200px;" th:text="${description}" name="description"></textarea>
                </div>
                <div>
                    <p>请输入标签，以逗号结束</p>
                    <input type="text" th:value="${tag}" class="form-control" name="tag">
                </div>
                <div class="saveBtn clearfix">
                    <span style="color: darkred;font-weight: 400;font-size: 16px;" th:text="${error}"></span>
                    <button class="btn btn-primary">发布</button>
                </div>
            </form>

        </div>
        <div class="col-xl-3 col-lg-12 row-right">
            <h2>问题发起指南：</h2>
            <p>问题标题：请用准确的语言描述您发布的问题思想</p>
            <p>问题描述：详细补充您的问题内容，并提供一些相关素材以供参与者更多的了解您所要问题的主题思想</p>
        </div>
    </div>
</div>

<!--引入jquery-->
<script src="js/jquery-3.1.1.js"></script>
<!--引入popper,作用是有一些弹窗等插件在里面-->
<script src="js/popper.js"></script>
<!--引入boots4的js-->
<script src="js/bootstrap.js"></script>
</body>
</html>